<div class="item" {{ sylius_test_html_attribute('payment-item') }}>
    <div class="field">
        <div class="ui radio checkbox" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
            {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
        </div>
    </div>
    <div class="content">
        <a class="header" style="display: flex; align-items: center;">
            {{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}

            {% set imageSrc = method.image is not empty and method.image.path is not empty
                ? method.image.path|imagine_filter('cw_sylius_tpay_admin_payment_method_image')
                : method.defaultImageUrl %}
            {% if imageSrc is not empty %}
                <img
                    id="{{ method.code }}_logo"
                    src="{{ imageSrc }}"
                    alt="{{ method.code }}-logo"
                    style="margin-left: 10px; max-height: 32px; max-width: 64px;"
                />
            {% endif %}
        </a>

        {{ sylius_template_event('sylius.shop.checkout.select_payment.choice_item_content', {'method': method}) }}

        {# >>> SyliusTpayPlugin customization #}
        {{ sylius_template_event('cw.tpay.shop.select_payment.choice_item_form', {'form': form.parent.parent, 'method': method}) }}
        {# SyliusTpayPlugin customization <<< #}
    </div>
</div>
